
@import '~bootstrap/scss/bootstrap.scss';

$color: steelblue;


.my-flix {
  color: $color;
}

.movie-img {
  width: 400px;
}

.moviecard-img {
  max-width: 200px;
}

.info-category {
  font-weight: bold;
}
